<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">Responsive App</h1>

    <span class="espacamento"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56" [style.width]="mobileQuery.matches ? '50%' : '15%'">
      <mat-nav-list>
        <div *ngFor="let group of fillerNav">
          <div mat-subheader>{{group.secao}}</div>
          <div *ngFor="let item of group.itens">
          <mat-list-item routerLink="{{item.rota}}" *ngIf="item.isVisible === true" >
            <mat-icon mat-list-icon>{{item.icone}}</mat-icon>
            <div mat-line>
              {{item.nome}}
            </div>
            <mat-divider></mat-divider>
          </mat-list-item>
        </div>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>

      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
